.container {
  box-sizing: border-box;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-fourth {
  display: flex;
  flex-basis: calc(100%/4);
}

.column-full > h1 {
  justify-content: center;
  text-align: center;
  font-family: Barlow, sans-serif;
  background-color: rgb(247 248 250);
}

.column-one-fourth > img {
  background-color: rgb(247 248 250);
  margin: 0 auto;
  text-align: center;
}

.column-one-tenth > img {
  width: 30%;
}

.column-one-tenth > h2 {
  font-family: Barlow, sans-serif;
}

.column-one-tenth > p {
  font-size: medium;
  font-weight: lighter;
  font-family: Barlow, sans-serif;
}
