* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 2000px;
  display: flex;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-one-fifth {
  flex-basis: calc(100%/5);
}

.column-one-fifth > h3 {
  text-align: center;
}

.column-one-fifth > p {
  text-align: center;
}
