i {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  width: 100%;
}

.space-around {
  justify-content: space-between;
}

.column-one-third {
  flex-basis: calc(100%/3);
}

.justify-center {
  justify-content: center;
}

i:hover {
  cursor: pointer;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

button:hover {
  cursor: pointer;
  background-color: black;
}

.black {
  background-color: black;
}

.color-none {
  background-color: none;
}

.first {
  background-color: black;
}

image {
  width: 100%;
}

.display-flex {
  display: flex;
}
