.off {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.on {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
}

button {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  border: none;
}

.lightbulb-on {
  background-color: yellow;
  box-shadow: inherit;
}

.lightbulb-off {
  background-color: rgb(37 37 37);
  box-shadow: inherit;
}
