.container {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.row .column-half {
  flex-basis: calc(100%/2);
  margin-left: 6%;
  margin-top: 3%;
  display: flex;
  border-bottom: solid 3px rgb(234 236 239);
}

.row .column-one-fifth {
  display: flex;
  flex-basis: calc(100%/2);
  margin-bottom: 30px;
  text-align: center;
  justify-content: space-between;
  margin-right: 6%;
  margin-top: 3%;
}

.row .column-one-fifth > h2 {
  margin-top: 1%;
  font-weight: lighter;
  font-family: Avenir, sans-serif;
  flex-basis: calc(100%/5);
  border-bottom: solid 3px rgb(234 236 239);
}

.row .column-one-fifth > button {
  color: white;
  background-color: rgb(10 66 101);
  font-size: x-large;
  border-radius: 5px;
  border: none;
  font-family: Avenir, sans-serif;
  width: 150px;
  height: 65px;
  margin-top: -5px;
}

.row .column-full {
  position: relative;
  top: 100px;
  margin: 0 auto;
}

.row .column-full > img {
  width: 1800px;
  height: auto;
}

.row .column-full > h1 {
  position: absolute;
  top: 15%;
  left: 8%;
  font-size: xxx-large;
  color: white;
  font-family:
    "Tiempos Headline",
    sans-serif;
  font-weight: lighter;
  line-height: 75px;
}

.row .column-full > p {
  position: absolute;
  top: 35%;
  left: 8%;
  font-size: x-large;
  color: white;
  font-family:
    avenir,
    sans-serif;
  line-height: 45px;
}

.row .column-full > button {
  position: absolute;
  left: 8%;
  bottom: 15%;
  color: white;
  background-color: rgb(10 66 101);
  height: 70px;
  width: 220px;
  font-size: x-large;
  font-family:
    avenir,
    sans-serif;
  border-radius: 5px;
  border: none;
}

.transparent {
  background: linear-gradient(transparent, rgb(0 0 0 /30%));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rowthree {
  background-color: rgb(250 250 250);
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.rowthree .column-full {
  text-align: center;
  margin-top: 3%;
  font-family:
    "Tiempos Headline",
    sans-serif;
  color: rgb(110 110 110);
  flex-basis: calc(100%/1);
}

.rowthree .column-full > p {
  flex-basis: calc(100% / 1);
  justify-content: center;
  font-size: large;
  font-family:
    avenir,
    sans-serif;
}

.rowthree .column-half > p {
  text-align: center;
  font-family:
    avenir,
    sans-serif;
  color: rgb(110 110 110);
  font-size: x-large;
  line-height: 35px;
}

.rowthree .column-half {
  flex-basis: calc(100%/2);
  text-align: center;
  font-family:
    avenir,
    sans-serif;
  line-height: 35px;
  font-size: x-large;
  color: rgb(110 110 110);
  margin-bottom: 5%;
}

.rowfour {
  display: flex;
}

.rowfour .column-half {
  flex-basis: calc(100%/2);
  margin-left: 10%;
}

.rowfour .column-half > h1 {
  font-family:
    "Tiempos Headline",
    sans-serif;
  color: rgb(110 110 110);
  margin-top: 7%;
  font-weight: lighter;
  font-size: xx-large;
}

.rowfour .column-half > p {
  font-family:
    avenir,
    sans-serif;
  color: rgb(110 110 110);
  margin-bottom: 6%;
  font-size: large;
}

.rowfour .column-half > button {
  color: white;
  background-color: rgb(10 66 101);
  height: 70px;
  width: 250px;
  font-size: x-large;
  font-family:
    avenir,
    sans-serif;
  border-radius: 5px;
  margin-top: 7%;
  border: none;
  margin-left: 50%;
}

.rowfive {
  background-color: rgb(82 83 81);
  display: flex;
}

.rowfive .column-half {
  flex-basis: calc(100%/2);
  margin-top: 8%;
  margin-left: 10%;
}

.rowfive .column-half > p {
  color: white;
  line-height: 19px;
  font-size: x-large;
  font-weight: lighter;
  margin-top: 6%;
  font-family:
    avenir,
    sans-serif;
  margin-bottom: 15%;
}

.rowfive .column-one-fourth {
  flex-basis: calc(100%/4);
  color: white;
  font-family:
    avenir,
    sans-serif;
  font-size: x-large;
  margin-top: 6%;
  margin-left: -5%;
}

.rowsix .column-full > p {
  margin-right: 60px;
  font-family:
    avenir,
    sans-serif;
  color: rgb(110 110 110);
}

.rowsix .column-full {
  display: flex;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: x-large;
}
