.container {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  box-sizing: border-box;
  margin: 0 auto;
}

.row {
  display: flex;
}

.width100 {
  width: 100%;
}

.lightgray {
  color: rgb(250 250 250);
}

.display-flex {
  display: flex;
}

.borderbottom {
  border-bottom: solid lightgrey 1px;
}

.paddingleftright {
  padding-left: 5%;
  padding-right: 5%;
}

.marginbottom {
  margin-bottom: 5%;
}

.margintop {
  margin-top: 1%;
}

.margintop-more {
  margin-top: 5%;
}

.column-half {
  flex-basis: calc(100%/2);
}

.flexend {
  justify-content: flex-end;
}

.spacearound {
  justify-content: space-around;
}

#blue-logo {
  margin-top: 2%;
  width: 20%;
}

.column-one-fifth {
  flex-basis: calc(100% / 5);
}

#contactus {
  margin-top: 1%;
  color: white;
  background-color: rgb(10 66 101);
  font-size: large;
  border-radius: 5px;
  border: none;
  font-family: Avenir, sans-serif;
  width: 125px;
  height: 50px;
}

.herocontainer {
  position: relative;
  left: 7%;
  background-image: url("images/hero.jpg");
  width: 85%;
  height: 800px;
  background-size: cover;
}

.herocontainer > .column-full > h1 {
  position: absolute;
  top: 15%;
  left: 8%;
  font-size: xxx-large;
  font-weight: lighter;
  line-height: 60px;
}

.herocontainer > .column-full > p {
  position: absolute;
  top: 37%;
  left: 8%;
  font-size: large;
  line-height: 30px;
}

#get-started-hero {
  position: absolute;
  left: 8%;
  bottom: 15%;
  background-color: rgb(10 66 101);
  height: 70px;
  width: 220px;
  font-size: x-large;
  border-radius: 5px;
  border: none;
}

.transparent {
  background: linear-gradient(transparent, rgb(0 0 0 /30%));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.line-height35 {
  line-height: 35px;
}

.font-size-x-large {
  font-size: x-large;
}

.padding-top {
  padding-top: 2%;
}

.padding-bottom {
  padding-bottom: 2%;
}

.padding-bottom-more {
  padding-bottom: 5%;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-basis50 {
  flex-basis: calc(100%/2);
}

.font-tiempos {
  font-family: "Tiempos Headline", sans-serif;
}

.gray {
  color: rgb(110 110 110);
}

.font-avenir {
  font-family: avenir, sans-serif;
}

#get-started {
  color: white;
  background-color: rgb(10 66 101);
  height: 70px;
  width: 250px;
  font-size: x-large;
  border-radius: 5px;
  border: none;
}

.align-self-center {
  align-self: center;
}

.background-color-gray {
  background-color: gray;
}

.background-color-dark-gray {
  background-color: rgb(83 83 83);
}

.white {
  color: white;
}

.padding-top-more {
  padding-top: 5%;
}

.background-color-light-gray {
  background-color: rgb(250 250 250);
}

#white-logo {
  width: 20%;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}
